body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: black;
    font-family: sans-serif;
    
}
.back {
    position: absolute;
    width: 1370px;
    height: 800px;
    
}
.caixa {
    position: absolute;
    width: 370px;
    height: 800px;
    top: -45px;
    left: -10px;
}

.caixa1 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
   
}

.head-logo {
    background-image: linear-gradient(0deg, #000000e0,#000000db, transparent);
    position: absolute;
    width: 1200px;
    height: 700px;
    margin-left: 90px;
    margin-top: 40px;
    border-radius: 5px;
}

.aranha {
    position: absolute;
    opacity: .2;
    width: 480px;
    left: 60px;
    top: 50px;
}

.main {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 400px;
    top: 150px;
    left: 150px;
}

.main h1 {
    font-family: "spider";
    margin-left: 30px;
    font-size: 50px;
    
}

.main p {
    font-family: "luisa";
    text-align: center;
    font-size: 14px;
    margin-left: -100px;
    margin-top: -20px;

}

.but1 {
    width: 150px;
    border-radius: 10px;  
    background: linear-gradient(163deg, #ffaa24, red);
    padding: 15px 5px;
    box-shadow: 0px 0px 15px red;
    margin-left: -30px;
    margin-top: 26px;
    cursor: pointer;
}
.but1 li {
    list-style: none;
    text-align: center;
}
.but1 a {
    font-family: "luisa";
    text-decoration: none;
    color: white;
}
.but2 {
    position: absolute;
    width: 200px;
    border-radius: 10px;  
    background: linear-gradient(193deg, #ffaa24, red);
    padding: 15px 5px;
    box-shadow: 0px 0px 15px red;
    margin-left: 150px;
    margin-top: 201px;
    cursor: pointer;
}
.but2 li {
    list-style: none;
    text-align: center;
}
.but2 a {
    font-family: "luisa";
    text-decoration: none;
    color: white;
}

.spider {
    position: absolute;
    width: 890px;
    margin-left: 440px;
    margin-top: 60px;
}

.menu {
    position: absolute;
    margin-left: 250px;
    margin-top: 20px;
}
.menu ul {
    list-style: none;
}
.menu li {
    display: inline-block;
    margin-right: 50px;
}
.menu a {
    font-family: "luisa";
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu a:hover {
    color: brown;

}

.logo {
    position: absolute;
    width: 180px;
    margin-top: 5px;
    margin-left: 30px;
}
.logo1 {
    position: absolute;
    width: 50px;
    margin-left: 1100px;
    margin-top: 25px;
}

.products {
    position: absolute;
    width: 100px;
    margin-left: 980px;
    top: 36px;
}
.music{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 70%;
    left: 10%;
    z-index: 100;
    border-radius: 50%;
}

.music img{
    width: 80px;
    height: 80px;
}

.music p{
    font-family: monospace;
    color: #fff;
    position: absolute;
    top: 27%;
    left: 85px;
    letter-spacing: 1px;
    font-size: 12px;
    text-shadow: 1px 1px 11px #ffffff;
    
}

